{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
required: true,
label: "API Key"|t('mailjet-adapter'),
instructions: "You can find this in your Mailjet settings for the chosen domain."|t('mailjet-adapter'),
id: 'apiKey',
name: 'apiKey',
suggestEnvVars: true,
value: adapter.apiKey,
errors: adapter.getErrors('apiKey')
}) }}

{{ forms.autosuggestField({
required: true,
label: "API Secret"|t('mailjet-adapter'),
instructions: "You can find this in your Mailjet settings for the chosen domain."|t('mailjet-adapter'),
id: 'apiSecret',
name: 'apiSecret',
suggestEnvVars: true,
value: adapter.apiSecret,
errors: adapter.getErrors('apiSecret')
}) }}

{{ forms.booleanMenuField({
label: "Use Sandbox Mode"|t('mailjet-adapter'),
id: 'useSandboxMode',
name: 'useSandboxMode',
includeEnvVars: true,
value: adapter.useSandboxMode
}) }}
